body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 60px auto;
  width: 70%;
}

h1 {
  font-size: 2.5em;
  font-family: Helvetica, Arial, sans-serif;
}

p {
  font-family: serif;
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}

a {
  text-decoration: none;
  color: #999;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: #999;
}

.active a {
  color: black;
}

header {
  font-weight: bold;
  border-bottom: 1px solid #d5d5d5;
}

footer {
  font-weight: bold;
  font-size: 0.8em;
  border-top: 1px solid #d5d5d5;
}

header ul, footer ul {
  list-style-type: none;
  padding: 0;
}

header ul li, footer ul li {
  display: inline;
  margin-right: 25px;
}

ul.posts {
  margin: 24px auto 24px;
  font-size: 1.5em;
  font-family: serif;
  padding: 0;
  line-height: 1.4em;
  color: #333;
  list-style: none;
}

.meta {
  font-size: 1.5em;
  color: #333;
}

.book-title {
  margin-bottom: 0;
}

.book-author {
  color: black;
}

/*
.navbar {
  border-bottom: 1px solid #d5d5d5;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.navbar li {
  display: inline;
}

.navbar a {
  display: inline-block;
  padding: 10px 15px;
  color: #888888;
  text-decoration: none;
}

.navbar a:hover {
  text-decoration: underline;
}

li.active a {
  color: black;   
}

.navbar a {
  text-decoration: none;
  color: red;
}

.container {
  margin: 60px auto;
  width: 80%;
}

nav ul, footer ul {
  font-family:'Helvetica', 'Arial', 'Sans-Serif';
  padding: 0px;
  list-style: none;
  font-weight: bold;
}

nav ul li, fotter ul li {
  display: inline;
  margin-right: 20px;
}

a {
  text-decoration: none;
  margin-right: 20px;
}

a:hover {
  text-decoration: underline;
}

a, a:visited {
  color: blue;
}

li.active a {
  color: black;   
}

h1 {
  font-size: 3em;
  font-family: 'Helvetica', 'Arial', 'Sans-Serif';
}

p {
  font-size: 1.5em;
  line-height: 1.4em;
  color: #333;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}

ul.posts {
  margin: 20px auto 40px;
  font-size: 1.5em;
}

ul.posts li {
  list-styl: none;
}
*/