---
---
$font-main:             'Lora', 'serif'
$font-side:             'Catamaran', 'sans-serif'
$font-size:             '14'

$color-nav-background:  #333333
$color-nav-home:        #EE6352    
$color-nav-about:       #59CD90
$color-nav-cv:          #3FA7D6
$color-nav-books:       #FAC05E
$color-nav-projects:    #F38347
$color-nav-blog:        #E08DAC
$color-shadow:          #050505

$color-theme:           #333333
$color-light:           #454545
$color-dark:            #262626

$color-accent:          #EDD4B2
$color-text-light:      #FFFFFF
$color-text-dark:       #333333

@import "side.sass"
@import "header.sass"
@import "nav.sass"
@import "footer.sass"
@import "books.sass"

html
    height: 100%

body
    min-height: 100%

.main a
    color:  $color-nav-cv
    text-decoration: none

.main a:hover
    text-decoration: underline

.main-container
    display: grid
    grid-template-columns: 250px auto
    grid-template-areas: "side main"

.main
    grid-area: main
    font-family: $font-main
    font-size: 1.2rem
    justify-self: start
    width: 100%

body
    margin: 0
    font-family: $font-main

.main-content
    padding: 1rem 3rem 3rem 3rem

.main-content p
    color: $color-text-dark


.active
    background-color: $color-dark