.nav
    grid-area: nav
    font-size: 1.2rem

.nav li.home a
    color: $color-nav-home

.nav li.about a
    color: $color-nav-about

.nav li.cv a
    color: $color-nav-cv

.nav li.books a
    color: $color-nav-books

.nav li.projects a
    color: $color-nav-projects

.nav li.blog a
    color: $color-nav-blog

.nav li.now a
    color: $color-nav-now

// br for separator lines
.nav hr
    display: block
    border: 0
    border-top: 2px solid $color-light
    margin: 0 2rem
