<!DOCTYPE html>

<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
        <link href="https://fonts.googleapis.com/css?family=Catamaran|Lora" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	
	<body class="main-container">
        <div class="side">
    		<header class="header">
                <div class="shadow">
                    <img src="{{ 'assets/img/profile.png' | absolute_url }}">
                </div>
    		</header>

            <nav class="nav">
                <hr class="light-line-top">
                <ul>
                    {% for link in site.data.nav-bar.nav-links %}
                        <li class="{{ link.title | downcase }} {% if page.url contains link.url and link.url != '/' or page.url == '/' %}active{% endif %}">
                            <a href="{{ link.url }}"><i class="fa fa-{{ link.icon }}"></i>{{ link.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <hr class="light-line-bottom">
            </nav>

    		<footer class="footer">
      		    <ul>
                    <li><a href="mailto:antoine.viscardi@gmail.com"><i class="fa fa-envelope"></i>antoine.viscardi@gmail.com</a></li>
                    <li><a href="https://github.com/antoineviscardi"><i class="fa fa-github"></i>github.com/antoineviscardi</a></li>
                </ul>
    		</footer>
        </div>

        <main class="main">
            <div class="main-content">
                {{ content }}
            </div>
        </main>
            
	</body>
</html>


